<!DOCTYPE html>
<html>
	<head>
		<title> Shows </title>

	</head>

	<body>
<div class="container">
		<main>
			<% if (page) { %>
				<%- include("./pages/" + page, pageArgs); %>
			<% } else { %>
						No page variable provided!
			<% } %>
		</main>
</div>

	</body>
</html>
