<!DOCTYPE html>
<html>
	<head>
		<title> PhotoPop </title>
		<link rel="stylesheet" type="text/css" href="./css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	</head>

	<body>

		<main>
			<% if (page) { %>
				<%- include("./pages/" + page, pageArgs); %>
			<% } else { %>
						No page variable provided!
			<% } %>
		</main>


	</body>
</html>
