
<div class="mainpage">

				<div class="mainpic">
					<div class="black">
						<div class="singin">
							<div class= "title">Welcome to TV Alert, your home awayfrom home</div>
              <form class="login-input" method="post" action="/">
                <h1 class="sign">SIGIN HERE:</h1> <br/><br/>
                <% if (typeof error !== "undefined") { %>
      		<div class="error"><%= error %></div>
      	<% } %>
                <h2 class="h">USER NAME</h2><br/>
                <input type="text" name="username" placeholder="username"/><br/>
                <h2>PASSWORD</h2><br/>
                <input id="password-input" type="password" name="password" placeholder="password"/><br/>
      					<button class="login-btns">Submit</button>
      				</form>
      			</div>
      			<a class="signup-btn" href="/signup"><button class="login-btns">Sign Up</button></a>
      		</div>
						</div>
					</div>




	<script>
		document.getElementById("password-input").focus();
	</script>
