<div class = "cover">
<div class="background-pic">

</div>


		<!--Log in  -->

 		<div class= "container">
			<p class="login-container-p">Sing Up To See Photos And Videos From Your Friends</p>
			<h1 class="login-container-h">Log In</h1>
			<div class= "singin">

				<form class="login-input" method="post" action="/">
					<% if (typeof error !== "undefined") { %>
		<div class="error"><%= error %></div>
	<% } %>
					<input type="text" name="username" placeholder="username"/><br/>
					<input id="password-input" type="password" name="password" placeholder="password"/><br/>
					<button class="login-btns">Submit</button>
				</form>
			</div>
			<a class="signup-btn" href="/signup"><button class="login-btns">Sign Up</button></a>
		</div>

	</div>
	<script>
		document.getElementById("password-input").focus();
	</script>
